{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<div class='page'>

  {{! 
  <div class='headline'>
    <button class='button'>
      <img src='svg/arrowBack.svg' alt='Back' />
    </button>
    <button class='button'>
        <img src='svg\profileLogo.svg' alt='profile' /></a>
    </button>
  </div> 

  {{! <h1>Мій блог</h1> }}

  {{! <main>
    <div class='announce'>
    <div class='announce__head'>
      <div class='badges'>
        <div class='important'>Важливо</div>
        <div class='new'>Нова</div>
      </div>
      <div class='data'>25.01</div>
    </div>
    <p>До біса планувальник, гаймаємо дизайнера і готуємося до презентаціїб як Джобс</p>
  </div>

  <div class='announce announce-2'>
    <div class='announce__head'>
      <div class='badges'>
        <div class='important'>Важливо</div>
        <div class='new'>Нова</div>
      </div>
      <div class='data'>25.01</div>
    </div>
    <p>Ми хотіли щоб у цьому чаті До біса планувальник, гаймаємо дизайнера і готуємося до презентаціїб як
      Джобс</p>
  </div>

  <div class='announce'>
    <div class='announce__head'>
      <div class='badges'>
        <div class='important'>Важливо</div>
        <div class='new'>Нова</div>
      </div>
      <div class='data'>25.01</div>
    </div>
    <p>До біса планувальник, гаймаємо дизайнера і готуємося до презентаціїб як Джобс</p>
  </div>
  </main> }}
</div>
{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}